body {
	background-color: map-get($theme-colors,'gray');
	
	// height: 100vh;
}

h2,h3,h4,h6 {
	font-weight: 700;
}

//убрать отсюда
.main {
	border: 1px solid map-get($theme-colors, 'gray');
	border-radius: 1rem;
	height: calc(100vh - 2rem);
	// border: solid 1px red;
}

// .container-xxl {
// 	// padding-top: -1rem;
// }

// main {
// 	border: solid red 1px;
// }

// .text-centers {
// 	border: solid red 1px;
// }