h2,h3,h4,h6 {
	font-weight: 700;
}

.user-image {
	height: 50px;
	width: 50px;
}

.profile-image {
	height: 90px;
	width: 90px;
}

.hide-scrollbar {
	@include hide-scrollbar;
}

aside {
  height: calc(100vh - 3rem);

	@media (max-width: $max-mob-width) {
		height: 100vh;
	}
}