$grid-breakpoints: map-merge(
    $grid-breakpoints,
    (
        xxl: 1600px,        
    )    
);

$container-max-widths: map-merge(    
    $container-max-widths,
    (
        xxl: 1540px,        
    )
);

$theme-colors: (
  "primary":    #4545A5,
  "secondary":  #6C757D,
  "success":    #28A745,
  "info":       #17A2B8,
  "warning":    #FFC107,
  "danger":     #DC3545,
  "light":      #FBFBFB,
  "dark":       #343A40,
  "gray": #EFEFEF
) !default;

$background-colors: (
    "primary":    black,
    "secondary":  #6C757D,
    "success":    #28A745,
    "info":       #17A2B8,
    "warning":    #FFC107,
    "danger":     #DC3545,
    "light":      #FBFBFB,
    "dark":       #343A40,
    "gray": #EFEFEF
) !default;
