mixin chat(userData)
  li.chat.list-group-item.mb-3.py-0
    a(href="#").text-decoration-none.link-dark
      .d-flex.align-items-center
        img(src=userData.avatar).user-image.rounded-circle
        .d-flex.align-items-center
          .chat-body.p-4
            p.user-name.mb-0
              strong= userData.name
            p.small.text-muted.mb-0.chat-message= userData.message               
          p.text-muted.small.message-time= userData.time