@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: test,
      state: hover,
      values: (
				0: yellow,
				25: black,
			)
		)
	)
);

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cr,
      // responsive: true,
      values: auto pointer grab,
    )
  )
);

// $utilities: map-merge(
//   $utilities,
//   (
//     "radius": (
//       property: transition,
//       class: radius,
//       values: (
//         left-top: all 0.5s,
//         left: all 1s,
//         right: all 1.5s,
//         2: all 2s,
//       ),
//     ),
//     "shadow":
//       map-merge(
//         map-get($utilities, "shadow"),
//         ( state: hover ),
//     ),
//   ),
// );
