.radius-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  @media (max-width: $max-mob-width) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.radius-top-left {
  border-top-left-radius: 1rem;

  @media (max-width: $max-mob-width) {
    border-top-left-radius: 0;
  }
}

.radius-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  @media (max-width: $max-mob-width) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.radius {
  border-radius: 1rem;

  @media (max-width: $max-mob-width) {
    border-radius: 0;
  }
}

.border-md-bottom {
  border-bottom: 1px solid #efefef !important;
}

.border-lg-top {
  border-top: 1px solid #efefef !important;
}

.border-sm {
  border: 1px solid #efefef !important;
}

// $utilities: map-merge(
//   $utilities,
//   (
//     "transition": (
//       property: transition,
//       class: transition,
//       values: (
//         05: all 0.5s,
//         1: all 1s,
//         15: all 1.5s,
//         2: all 2s,
//       ),
//     ),
//     "shadow":
//       map-merge(
//         map-get($utilities, "shadow"),
//         ( state: hover ),
//     ),
//   ),
// );