$utilities: map.merge(
  $utilities,
  (
    "radius": (
      property: border-radius,
      responsive: true,
      class: radius,
      values: (
        null: 1rem,
        0: 0,
      ),
    ),
    "radius-right": (
      property: border-top-right-radius border-bottom-right-radius,
      responsive: true,
      class: radius-right,
      values: (
        null: 1rem,
        0: 0,
      ),
    ),
    "radius-left-top": (
      property: border-top-left-radius,
      responsive: true,
      class: radius-left-top,
      values: (
        null: 1rem,
        0: 0,
      ),
    )
  )
);
