#chat {
	// @include hide-scrollbar;

	img {
		height: 50px;
		width: 50px;
	}
	// height: 65vh;

	height: calc(100vh - 10.5rem);
	.message {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 286px;
		// border: solid 1px red;
	}
	// .time {
	// 	padding-top: 23px;
	// }
}

// @media (max-width: $max-mob-width) {
// 	// nav {
// 	// 		// margin-left: -1.5rem;
// 	// 		// margin-right: -1.5rem;
// 	// 		// margin-top: 0;
// 	// 	border-top-left-radius: 0;
// 	// }
// 	#chat {
// 		height: 83vh;
// 		.message {
// 			width: 236px;
// 		}
// 	}
// }

