#chats {
	@include hide-scrollbar;

	height: calc(100vh - 8rem);
	// height: calc(100vh - 7.5rem);
	.message {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 286px;
		// border: solid 1px red;
	}
}

@media (max-width: $max-mob-width) {
	#chats {
		height: calc(100vh - 4.5rem);
		.message {
			width: 236px;
		}
	}
}

