#chats {
  .message {
    overflow: hidden;

    width: 286px;

    white-space: nowrap;

    text-overflow: ellipsis;
  }
}

@media (max-width: $max-mob-width) {
  #chats {
    .message {
      width: 236px;
    }
  }
}
