#current-chat {
  @include hide-scrollbar;

  height: calc(100vh - 3rem);

  .dialog-body {
    z-index: 1;
  }

  .dialog-header {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .message {
    max-width: 624px;
  }

  .message-text {
    border-radius: 1rem;
  }

  .time {
    opacity: 0.6;
  }

  form {
    position: sticky;
    bottom: 0;
    z-index: 2;

    .button {
      width: 50px;
      height: 50px;
    }

    img {
      filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(244deg) brightness(111%) contrast(97%);
    }
  }
}

@media (max-width: $max-mob-width) {
  #current-chat {
    height: calc(100vh - 4.5rem);

    .dialog-header {
      margin-right: -24px;
      margin-left: -24px;
    }

    .message {
      width: 100%;      
    }

    form {
      .button {
        width: 42px;
        height: 42px;
      }
    }
  }
}
