#current-chat {
	img {
		height: 50px;
		width: 50px;
	}

	.dialog-header {
		height: 93px;
		// border: solid 1px red;
	}


	.dialog-body {
		@include hide-scrollbar;
		
		// border: solid 1px red;

		height: calc(100vh - 7rem - 163px);
	}

	.message {
		max-width: 624px;
		// border: solid 1px red;
	}

	.message-text {
		border-radius: 1rem;
		// line-height: 1.5rem;
		// border: red 1px solid;
		hr {
			margin-top: 8px;
			margin-bottom: 4px;
		}
		.time {
			font-size: 12.8px;
			// line-height: 1.5;
		}
	}
	
	form {
		// border: red 1px solid;
		.button {
			width: 50px;
			height: 50px;
			border-radius: 1rem;
		}

		img {
			width: 21px;
			height: 21px;
			filter: brightness(0) invert(1);
		}
	}
}

@media (max-width: $max-mob-width) {
	#current-chat {
		.dialog-header {
			// margin-top: - 48px;
			margin-left: -24px;
			margin-right: -24px;
			// padding-left: 48px;
			// border: solid 1px red;
		}

		.dialog-body {
			margin-top: 49px;
			// padding-left: 24px;
			// padding-right: 24px;
			// padding-left: 48px;
			// border: solid 1px red;
			// height: calc(100vh - 7rem - 163px);
			height: calc(100vh - 95px - 12rem );
		}

		.message {
			width: 100%;
			// border: solid 1px red;
		}

		form {
			.button {
				width: 42px;
				height: 42px;
				border-radius: 1rem;
			}
	
			img {
				width: 22px;
				height: 22px;
				filter: brightness(0) invert(1);
			}
			// margin-bottom: 48px;
		}
	}
}

