#dialog {
	img {
		height: 50px;
		width: 50px;
	}

	.head {
		height: 4.5rem;
	}

	.messages {
		@include hide-scrollbar;
		.test {
			max-width: 648px;
		}
		// text-align: left;
		// width: 600px;
		// border: green 1px solid;
		// height: calc(100vh - 10rem);
	}

	.message {
		// background-color: map-get($theme-colors,'primary');
		border-radius: 1rem;
	}

	.time {
		font-size: 12.8px;
	}
}

// @media (max-width: $max-mob-width) {
// 	// nav {
// 	// 		// margin-left: -1.5rem;
// 	// 		// margin-right: -1.5rem;
// 	// 		// margin-top: 0;
// 	// 	border-top-left-radius: 0;
// 	// }
// 	#chat {
// 		height: 83vh;
// 		.message {
// 			width: 236px;
// 		}
// 	}
// }

