.menu {
  position: sticky;
  top: 0;

  z-index: 2;

  img {
    height: 25px;

    filter: brightness(0) invert(1);
  }

  ul img {
    width: 25px;
  }

  @media (max-width: $max-mob-width) {
    bottom: 0;
  }
}
