#profile {
	@include hide-scrollbar;

	.card img {
		height: 90px;
		width: 90px;
	}

	height: calc(100vh - 9rem);

	.list-group {
		font-size: 12.8px;
	}

	// input {

	// 	border-bottom: 1px red solid;
	// }

	// :active, :hover, :focus {
  //   outline: 0;
  //   outline-offset: 0;
	// }
}

