include blocks/components/menu

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(rel='icon' type='image/x-icon' href='favicon.ico')
  title Hexlet chat
  link(rel='stylesheet' href='./styles/app.css')      
body.container-xxl.p-0.bg-gray
  .content.p-md-4
    .row.bg-white.m-0.radius-0.radius-md
      aside.col-12.col-md-4.d-flex.flex-column.p-0.hide-scrollbar.justify-content-between.justify-content-md-start
        +menu(true, '', 'active')
        .tab-content.px-4.order-1.order-md-2
          #current-chat.tab-pane.fade
            include blocks/current-chat.pug      
          #contacts.tab-pane.fade
            include blocks/contacts.pug
          #chats.tab-pane.fade.show.active
            include blocks/chats.pug
          #profile.tab-pane.fade
            include blocks/profile.pug
      #current-chat.col-md-8.p-0.d-none.border.border-gray.d-md-block.radius-right
        include blocks/current-chat.pug
script(src="js/bootstrap.bundle.min.js")