doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(rel='icon' type='image/x-icon' href='favicon.ico')
  title Hexlet chat
  link(rel='stylesheet' href='./styles/app.css')      
body.container-xxl.p-0.bg-gray
  .content.p-md-4
    .row.bg-white.m-0
      aside.col-12.col-md-4.d-flex.flex-column-reverse.flex-md-column.p-0
        include blocks/chat-menu.pug
        .tab-content.pt-5.px-4
          #current-chat.tab-pane.fade
            #dialog
              include blocks/dialog.pug
          #contacts.tab-pane.fade
            include blocks/contacts.pug
          #chats.tab-pane.fade.show.active
            include blocks/chats.pug
          #profile.tab-pane.fade
            include blocks/profile.pug
      #dialog.col-md-8.p-0.d-none.d-sm-none.border.border-gray.d-md-flex.flex-md-column
        include blocks/dialog.pug
script(src="js/bootstrap.bundle.min.js")