doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(rel='icon' type='image/x-icon' href='favicon.ico')
  title Hexlet chat
  link(rel='stylesheet' href='./styles/app.css')      
body
  .container-xxl.bg-white.p-4
    .row
      aside.col-12.col-md-4.d-flex.flex-column-reverse.flex-md-column
        include blocks/menu.pug
        .tab-content.pt-5.px-4
          #contacts.tab-pane.fade.show.active
            include blocks/contacts.pug
          #chats.tab-pane.fade
            include blocks/chats.pug
          #profile.tab-pane.fade
            include blocks/profile.pug
      main.col-md-8.p-0.d-md-flex.align-items-center.justify-content-center.d-none.d-sm-block.d-sm-none
        .text-center
          img(src="../images/avatar_1.jpg").rounded-circle
          p.mb-0
            strong Привет, Кодовёнок
          p.small.text-muted Выбери чат, чтобы начать общаться
script(src="js/bootstrap.bundle.min.js")
  
