doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(rel='icon' type='image/x-icon' href='favicon.ico')
  title Hexlet chat
  link(rel='stylesheet' href='./styles/app.css')      
body
  .container-xxl.pt-3.px-4
    .row
      aside.col-4
        include blocks/menu.pug
        .tab-content
          #contacts.tab-pane.fade.show.active
            include blocks/contacts.pug
          #messages.tab-panes.fade
            include blocks/messages.pug

      main.col-8 
        | Правая часть
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
  
