-
  var people = [{
      name: "Вениамин Редакторович",
      message: "o_O",
      avatar: "/images/avatar_4.jpg",
      time: "11:45"
    },
    {
      name: "Джедай Падаванов",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",// Уже скоро надо будет выложить",
      avatar: "/images/avatar_2.jpg",
      time: "10:12"
    },
    {
      name: "Алексей Примадонин",
      message: "Тесты упали >_<",
      avatar: "/images/avatar_3.jpg",
      time: "08:53"
    }]

h2.mb-4.pt-5 Чаты
form.search-form.mb-5
  input#search(type='text' placeholder='Поиск по сообщениям...').p-4.form-control.border-0.shadow-none.border-bottom

ul.list-group.list-group-flush.mb-5
  each user in people        
    li.list-group-item.mb-3.py-0.shadow-sm
      a(href="#").text-decoration-none.link-dark
        .d-flex.align-items-center
          img(src=user.avatar).rounded-circle
          .d-flex.align-items-center
            div.p-4
              p.mb-0
                strong= user.name
              p.small.text-muted.mb-0.message= user.message               
            p.text-muted.small.time= user.time