-
  var people = [{
      name: "Вениамин Редакторович",
      message: "o_O",
      avatar: "/images/avatar_4.jpg",
      time: "11:45"
    },
    {
      name: "Джедай Падаванов",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",// Уже скоро надо будет выложить",
      avatar: "/images/avatar_2.jpg",
      time: "10:12"
    },
    
    {
      name: "Алексей Примадонин",
      message: "Тесты упали >_<",
      avatar: "/images/avatar_3.jpg",
      time: "08:53"
    }]

include components/chat
include components/form

h2.mb-4.pt-5 Чаты
+form('Поиск по сообщениям...')

ul.list-group.list-group-flush.mb-5
  each user in people        
    li.list-group-item.mb-3.py-0.shadow-sm
      a(href="#").text-decoration-none.link-dark
        .d-flex.align-items-center
          +chat(user)