nav.d-flex.align-items-center.px-4.justify-content-between.bg-primary
  .logo
    img(src='../images/icons/logo.svg')
  ul(role="tablist").list-inline.d-flex.align-items-center.nav
    li.list-inline-item.nav-item(role="presentation").me-5.me-md-4.d-sm-block.d-md-none
      a(href="#current-chat", data-bs-target="#current-chat", data-bs-toggle="tab", aria-selected="false", aria-controls="#current-chat")#current-chat-tab.text-decoration-none
        img(src='../images/icons/chat-left-text.svg').me-2 
        span.text-light.d-none.d-md-inline.small Диалог
    li.list-inline-item.nav-item(role="presentation").me-5.me-md-4
      a(href="#contacts", data-bs-target="#contacts", data-bs-toggle="tab", aria-selected="false", aria-controls="contacts")#contacts-tab.text-decoration-none
        img(src='../images/icons/people.svg').me-2
        span.text-light.d-none.d-md-inline.small Контакты 
    li.list-inline-item.nav-item(role="presentation").me-5.me-md-4
      a(href="#chats", data-bs-target="#chats", data-bs-toggle="tab", aria-selected="true", aria-controls="chats")#chats-tab.text-decoration-none.active
        img(src='../images/icons/chat.svg').me-2
        span.text-light.d-none.d-md-inline.small Сообщения 
    li.list-inline-item.nav-item(role="presentation")
      a(href="#profile", data-bs-target="#profile", data-bs-toggle="tab", aria-selected="false", aria-controls="profile")#profile-tab.text-decoration-none
        img(src='../images/icons/person.svg').me-2
        span.text-light.d-none.d-md-inline.small Профиль
  