#chat
  .head.d-flex.align-items-center
    img(src="/images/avatar_4.jpg").rounded-circle
    .d-flex
      div.p-4
        p.mb-0
          strong Вениамин Редакторович
        p.small Онлайн
  .messages тут сообщения