-
  var messages = [{
      userName: "Вениамин Редакторович",
      message: "Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?",
      userAvatar: "/images/avatar_4.jpg",
      time: "8 минут назад"
    },
    {
      userName: "",
      message: "Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень",
      userAvatar: "/images/avatar_1.jpg",
      time: "5 минут назад"
    },
    {
      userName: "Вениамин Редакторович",
      message: "Лады",
      userAvatar: "/images/avatar_4.jpg",
      time: "5 минут назад"
    },
    {
      userName: "",
      message: "А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие",
      userAvatar: "/images/avatar_1.jpg",
      time: "3 минуты назад"
    },
    {
      userName: "Вениамин Редакторович",
      message: "о_О",
      userAvatar: "/images/avatar_4.jpg",
      time: "Только что"
    }]

include components/message

.current-chat-header.d-flex.align-items-center.border-bottom.border-gray.bg-white
  img(src="/images/avatar_4.jpg").rounded-circle.ms-3.user-image
  .contact-data.p-4
    p.user-name.mb-0
      strong Вениамин Редакторович
    p.user-status.small.mb-0.text-muted Онлайн
.current-chat-body.mx-0.d-flex.flex-column.px-4.px-md-0.pt-5
  each messageData in messages  
    if messageData.userName == ''
      +message(messageData, 'bg-primary', 'text-white', 'align-self-md-end')
    else
      +message(messageData)

form.send-message-form.mx-md-5.d-flex.py-md-3.bg-white.my-md-4.py-3
  input(type='text' placeholder='Напишите сообщение...').form-control.border-0.shadow-none.px-2.px-md-4.py-md-3
  .button(type="submit").btn.btn-primary.rounded-circle.d-flex.align-items-center.justify-content-center
    img(src="/images/icons/cursor.svg").w-100.h-100

