nav.d-flex.justify-content-between.bg-info
  div
    img(src='../images/icodns/logo.svg')
  ul.list-inline
    li.list-inline-item
      a(href="#")
        img(src='../images/icons/people.svg')
        span Контакты 
    li.list-inline-item
      a(href="#")
        img(src='../images/icons/chat.svg')
        span Сообщения 
    li.list-inline-item
      a(href="#")
        img(src='../images/icons/person.svg')
        span Профиль 



  