-
  var contacts = {
    "A": [{
      name: "Алексей Примадонин",
      message: "Онлайн",
      avatar: "/images/avatar_3.jpg"
    }],

    "В": [{
      name: "Вениамин Редакторович",
      message: "Онлайн",
      avatar: "/images/avatar_4.jpg"
    }],

    "Д": [{
      name: "Джедай Падаванов",
      message: "Привет, скоро третий проект? Уже скоро надо будет выложить",
      avatar: "/images/avatar_2.jpg"
    }],

    "К": [{
      name: "Кодовёнок Хекслетович",
      message: "Был онлайн 3 часа назад",
      avatar: "/images/avatar_1.jpg"
    },
    {
      name: "Королева Верстальщина",
      message: "Жопа",
      avatar: "/images/avatar_5.jpg"
    }],

    "П": [{
      name: "Питонист Джангович",
      message: "Был ужас",
      avatar: "/images/avatar_6.jpg"
    }],
  }

h1 Сообщения
form.search-form
  input#search(type='text' placeholder='Поиск по контакстам...')

div(style="overflow-y: scroll; overflow-x:hidden").h-75.ps-4
  each people, letter in contacts
    h2.text-muted.mb-3= letter
    ul.list-group.list-group-flush
      each user in people        
        li.list-group-item.mb-1
          .d-flex.align-items-center
              img(src=user.avatar).w-25.h-25.rounded-circle
              .d-flex
                div.w-100
                  p
                    strong= user.name
                  p(style="overflow: hidden; white-space: nowrap;text-overflow: ellipsis;").small.w-50= user.message
                  //- p.small.w= user.message
              p
                | 1.43