-
  var contactsData = [{
      title: "Страна",
      data: "Москва, Россия",
      image: "../images/icons/globe.svg",
    },
    {
      title: "Телефон",
      data: "+7(499) 123-45-67",
      image: "../images/icons/telephone.svg",
    },
    {
      title: "Email",
      data: "nikita.m@hexlet.io",
      image: "../images/icons/envelope.svg",
    },
    {
      title: "Twitter",
      data: "@n__mikhaylov",
      image: "../images/icons/people.svg",
    }]

include components/form
include components/profileContact

h2.mb-4.pt-5 Профиль
+form('Поиск по сообщениям...')
.profile-body.card.d-flex.align-items-center.mb-3.border-0.py-3
  img(src="../images/avatar_1.jpg").profile-image.rounded-circle
  .card-body.text-center
    h6 Кодовёнок Хекслетович
    p.text-muted Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
ul.profile-contacts.list-group.list-group-flush.py-3
  each contact in contactsData
    +profileContact(contact) 